.container {
  min-height: calc(100vh - 100px);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 64px;
}

.board {
  margin: 2rem 0;
  padding: 0 2rem;
  height: 66%;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.main {
  width: 100%;
}

@media (max-width: 1024px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 1.5rem 0;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 22px;
  }
}
